*{
    margin: 0;
    padding: 0;
}

#sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    color: white;
    width: 250px;
    height: auto;
    padding-top: 25px;
    padding-left: 50px;
    box-shadow: 0 4px 6px rgba(0,0,0,1);
    display: block;
}

#sidebar ul{
    margin: 10px;
    padding-top: 150px;
}

#sidebar ul li{
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

#sidebar ul li a{
    margin: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

